@import "../../../styles.scss";

#anchor-bio-sec {
  display: block;
  position: relative;
  top: -4em;
  visibility: hidden;
}

#bio-sec {
  margin-top: 2em;
}

.bio-wrapper {
  position: relative;
  border: 4px solid $color-primary;
  border-radius: 0 57px 0 57px;
  padding: 3em 3em;
  margin-bottom: 5em;
  height: calc(80vh - 4em);
  display: flex;
  flex-direction: column;


  @include lg {
    padding: 3em 3em;

  }

  @include md {
    border-width: 3px;
    border-radius: 0 60px 0 60px;
  }

  @include xsm {
    padding: 1.5em 1.5em;

    border-width: 2px;
    border-radius: 0 40px 0 40px;
  }

  h1 {
    width: 100%;
    font-size: 4em;
    padding-top: 0.5em;
    margin-bottom: 0.3em;
    text-align: left;
    flex: 0 0 auto;

    font-family: 'Celaraz';
    line-height: 1;
    color: $color-primary;

    @include lg {
      padding-top: 0;
    }

    @include md {
      font-size: 3em;
    }

    @include sm {
      font-size: 2em;
    }
  }

  .diamond {
    $height: 200px;
    height: $height;
    width: $height * 1.5;
    position: absolute;
    fill: $color-primary;
    left: 25%;
    top: 0;
    width: 15%;
    transform: translateY(calc($height / -2 - 1px));
  }
}

.sun {
  position: absolute;
  $width: 200px;
  width: $width;
  right: 5%;
  bottom: 5%;
  fill: $color-primary;
  transform: translateY(calc($width / 3));

  translate: all 200ms ease-in-out;

  @include md {
    $width: 150px;
    width: $width;
    transform: translateY(calc($width / 3));
  }

  @include sm {
    $width: 100px;
    width: $width;
    right: 2%;
    transform: translateY(calc($width / 2));
  }
}

.menu-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  margin: 100px 0;
  flex: 0 1 auto;
  height: 100%;
  justify-content: center;

  .menu-item {
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;

      @include sm {
        font-size: 1.1em;
      }


    &::before {
      content: url('../../../assets/images/star_small.svg');
      position: relative;
      height: 100%;
      width: 1.5em;
      visibility: hidden;

      @include sm {
        width: 0;
      }
    }

    &:hover::before {
      visibility: visible;
    }
  }
}