<section id="bio-sec">
    <a id="anchor-cont-sec"></a>
    <div class="bio-wrapper">
        <h1>{{ 'contact' | translate}}</h1>
        <div class="menu-item-wrapper">
            <a href="mailto:darya.h3rasimchyk@gmail.com" class="menu-item">E-mail</a>
            <a href="https://www.facebook.com/spereulochka" class="menu-item">Facebook</a>
            <a href="https://www.instagram.com/s_pereulochka/" class="menu-item">Instagram</a>
            <a href="https://www.linkedin.com/in/darya-herasimchyk-134207254/" class="menu-item">LinkedIn</a>
        </div>
        <img src="assets/images/sun.svg" alt="" class="sun">
        <img class="diamond" src="assets/images/diamond.svg" alt="">
    </div>
</section>