<section>
    <a id="anchor-port-sec"></a>
    <h1 class="h1">{{'portfolio' | translate}}</h1>
    <app-portfolio-part [title]="'posters' | translate" [pics]="posters"></app-portfolio-part>
    <app-portfolio-part [title]="'compositions' | translate" [pics]="compositions"></app-portfolio-part>
    <app-portfolio-two-columns [title]="'logo' | translate" [pics]="logos" [descs]="logoDescs"></app-portfolio-two-columns>
    <app-portfolio-two-columns [title]="'fonts' | translate" [pics]="fonts" [descs]="fontsDescs"></app-portfolio-two-columns>
    <app-portfolio-part [title]="'tradart' | translate" [pics]="tradart"></app-portfolio-part>
</section>

