
<section>
    <a id="anchor-port-sec"></a>
    <h1 class="h1">{{'portfolio' | translate}}</h1>
    <app-portfolio-part [title]="'posters' | translate" [pics]="postersWH"></app-portfolio-part>
    <app-portfolio-part [title]="'compositions' | translate" [pics]="compositionsWH"></app-portfolio-part>
    <app-portfolio-two-columns [title]="'logo' | translate" [pics]="logosWH" [descs]="logoDescs"></app-portfolio-two-columns>
    <app-portfolio-two-columns [title]="'fonts' | translate" [pics]="fontsWH" [descs]="fontsDescs"></app-portfolio-two-columns>
    <app-portfolio-part [title]="'tradart' | translate" [pics]="tradartWH"></app-portfolio-part>
</section>

