<header class="header">
    <div class="lang-switch">
        <button (click)="setLang('ru')">RU</button>
        <div class="separator"></div>
        <button (click)="setLang('en')">EN</button>
        <div class="separator"></div>
        <button (click)="setLang('pl')" href="">PL</button>
    </div>
    <div class="main-title">
        <span>{{'title' | translate}}</span>
        <img src="assets/images/sun.svg" alt="" class="sun">
        <img class="diamond" src="assets/images/diamond.svg" alt="">
    </div>
</header>