@import "../../../styles.scss";

.header {
    margin: 7px 0;
    display: flex;
    justify-content: flex-end;

    a {
        cursor: pointer;

        font-family: 'Aeonik-Light';
        font-size: 1.25em;
        font-weight: bold;
        color: var(--clr-prim);

        @include xsm {
            font-size: 0.9em;
        }
    }

    .close {
        fill: var(--clr-prim);
        width: 12px;
        height: 12px;
    }

    .closeLink {
        display: flex;
        align-content: center;
    }
}