@import "../../../styles.scss";

.mat-dialog-container {
    box-shadow: none !important;
}

.header {
    margin: 5px;
    display: flex;
    justify-content: flex-end;

    a {
        padding: 5px;
        cursor: pointer;

        font-family: 'Aeonik-Light';
        font-size: 1.25em;
        font-weight: bold;
    }
}