<section class="section">
    <p class="title">{{title}}</p>
    <div class="portfolio-flex">
        <ng-container *ngFor="let index of range()">
            <p class="desc">{{descs[index]}}</p>
            <div class="row">
                <img ngSrc="{{pics[index*2]}}" class="small-img" width="576" height="458" alt="" srcset="">
                <img ngSrc="{{pics[index*2+1]}}" class="big-img" width="864" height="608" alt="" srcset="">
            </div>
        </ng-container>
    </div>
</section>