<section class="section">
    <p class="title">{{title}}</p>
    <div class="portfolio-flex">
        <ng-container *ngFor="let index of range()">
            <p class="desc">{{descs[index]}}</p>
            <div class="row">
                <img ngSrc="{{createLink(index*2)}}" 
                     class="small-img" 
                     width="{{pics.elements![index*2].width}}" 
                     height="{{pics.elements![index*2].height}}" 
                     alt="" 
                     srcset="">
                <img ngSrc="{{createLink(index*2+1)}}" 
                     class="big-img" 
                     width="{{pics.elements![index*2+1].width}}" 
                     height="{{pics.elements![index*2+1].height}}" 
                     alt="" 
                     srcset="">
            </div>
        </ng-container>
    </div>
</section>