@import "../../../styles.scss";

.section {
    margin-bottom: 3em;

    .desc {
        text-align: center;
        font-size: 1.1em;
        font-style: italic;
        margin-top: 2em;
        margin-bottom: 2em;
        color: $color-secondary;

        @include md {
            margin-bottom: 1.25em;
        }
    }

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        background-color: #FFF;

        @include sm {
            flex-direction: column;
        }

        .small-img {
            width: 40%;
            height: auto;
            
            @include sm {
                width: 100%;
            }
        }

        .big-img {
            width: 60%;
            height: auto;

            @include sm {
                width: 100%;
            }
        }
    }
}

.title {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    line-height: 1;
    margin-left: 3em;
    font-weight: bold;
    color: $color-primary;

    @include md {
        margin-left: 1em;
    }

    @include sm {
        margin-bottom: 1em;
    }
}