<div #header_menu id="header-menu">
    <div class="header-wrapper">
        <a href="#anchor-bio-sec" class="link">
            {{'about' | translate}}
        </a>
        <img src="./../../../assets/images/smDiamond.png" alt="" srcset="">
        <a href="#anchor-portfolio" class="link">
            {{'portfolio' | translate }}
        </a>
        <img src="./../../../assets/images/smDiamond.png" alt="" srcset="">
        <a href="" class="link">
            {{ 'contact' | translate }}
        </a>
    </div>
</div>